---
// Importing Header component
import Header from '../components/Header.astro';

//Importing Button component
import Button from '../components/Button.astro';

// Imports the page layout
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header/>
	<h1>Hello World!</h1>
	<Button/>
	<Button/>
	<Button/>
</Layout>
