<button class="alert">Click me!</button>

<style>
    .alert{
        padding: 10px;
        background: #ff0000;
        color: #fff;
    }
</style>

<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll('button.alert');

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      alert('Button was clicked!');
    });
  });
</script>